.bcmd {
    position: relative;
    margin-top: 0;
    height: calc(100vh - [navbar height]); /* Adjust for navbar height */
}

.bcmd img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1; /* Ensure the image stays behind the h1 */
}

.bcmd h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Set text color to white or any other color that suits your design */
    z-index: 2; /* Position h1 above the image */
    text-decoration: solid;
}

.navb {
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    background-color: rgb(6, 64, 45);
    position: relative;
    z-index: 3; /* Ensure the navbar stays above everything else */
    align-items: center; /* Vertically aligns items to the center */
    padding: 1px 2px; /* Optional padding for better spacing */
}

.navb img {
    max-width: 3%;
    max-height: 2%;
}

.navb .lgn,
.navb .sgn {
     /* Adds some space between the buttons */
   
    margin-left: 70%;
    margin-right: -68%;
    box-sizing: border-box;
    border-radius: 0%;
    border-color: blueviolet;
}
