nav {
    display: flex;
    justify-content: space-between; /* Space between logo and nav links */
    align-items: center; /* Center align items vertically */
    padding: 10px 20px; /* Padding for the navbar */
    background-color: rgb(4, 103, 70); /* Navbar background color */
}

nav img {
    max-width: 50px; /* Set max width for the logo */
}

ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    display: flex; /* Display list items in a row */
}

ul li {
    margin-right: 20px; /* Margin between list items */
    color: white; /* Text color */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: color 0.3s; /* Smooth color transition */
   
}

ul li:hover {
    color: lightgray; /* Change text color on hover */
}
.h{
    color: aliceblue;
    font-size: large;
    font-weight: bolder;

}
h1{
    color: aliceblue;
    font-size: large;
    font-weight: bolder;
    font-size: xx-large;
}
